/* This file is for css applied to identified spoiler elements */
.hidden-spoiler {
  background-color: #E2C044;
  color: rgba(0, 0, 0, 0.4);
  padding: 5px;
}

.blacked-out {
  margin: 0px;
  -webkit-filter: brightness(0);
  filter: brightness(0);
} 

.blurred-out {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}
